<h1>Listing articles</h1>
<%if current_user%>
<%= link_to "Sign out", destroy_user_session_path() %>
<%else%>
<%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %>
<%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<%end%>
<table>
  <tr>
    <th>Topic</th>
    <th>Content</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.topic %></td>
    <td><%= article.content %></td>
    <td><%= article.user_id %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
