<p id="notice"><%= notice %></p>

<p>
  <b>Topic:</b>
  <%= @article.topic %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b>User:</b>
  <%= @article.user_id %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
