<div class="span12">
	<%= form_for(@project) do |f|%>
		<table>
			<tr>
				<th><b>Name</b></th>
				<td><%= f.text_field :name, :class=>"span7" %></td>
			</tr>
			<tr>
				<th><b>Description</b></th>
				<td><%= f.text_area :desc ,:rows=>"10",:cols=>"40", :class=>"span7"%><br></td>
			</tr>
			<tr>
				<th><b>Expected Start Date</b></th>
				<td><%= f.text_field :expected_start_date, :class=>"datepicker span7"%><br></td>
			</tr>
			<tr>
				<th><b>Expected End Date</b></th>
				<td><%= f.text_field :expected_end_date, :class=>"datepicker span7" %><br></td>
			</tr>
			<tr>
				<th><b>Expected Duration</b></th>
				<td><%= f.text_field :expected_duration, :class=>"span7" %><br></td>
			</tr>
			<tr>
				<th><b>Current Start Date</b></th>
				<td><%= f.text_field :current_start_date, :class=>"datepicker span7" %><br></td>
			</tr>
			<tr>
				<th><b>Current End Date</b></th>
				<td><%= f.text_field :current_end_date, :class=>"datepicker span7" %><br></td>
			</tr>
			<tr>
				<th><b>Current Duration</b></th>
				<td><%= f.text_field :current_duration, :class=>"span7" %><br></td>
			</tr>
			<tr>
				<th><b>Duration Units</b></th>
				<td><%= f.text_field :duration_unit, :class=>"span7" %><br></td>
			</tr>
			<tr>
				<th><b>Initial Expected Cost</b></th>
				<td><%= f.text_field :initial_expected_cost, :class=>"span7" %><br></td>
			</tr>
			<tr>
				<th><b>Current Expected Cost</b></th>
				<td><%= f.text_field :current_expected_cost, :class=>"span7" %><br></td>
			</tr>
			<tr>
				<th><b>Expected Skill Level</b></th>
				<td><%= f.select :expected_skill_level, options_for_select(["Easy","Medium","Hard"]),{}, :class=>"span7" %><br></td>
			</tr>
			<tr>
				<th><b>Category</b></th>
				<td><%= f.text_field :category, :class=>"span7" %><br></td>
			</tr>
			<tr>
				<th><b>Percentage Of Completion</b></th>
				<td><%= f.text_field :percentage_of_completion, :class=>"span7" %><br>
			</tr>
			<tr>
				<th><b>Status</b></th>
				<td><%= f.select :status, options_for_select(["Planned","Initiated","In-Progress","Suspended","Completed"]),{},:class=>"span7" %></td>
			</tr>
			<tr>
				<td><%= f.submit :class=>"btn btn-success"%></td>
			</tr>
		</table>
	<%end%>
</div>