<%= link_to "New Project", new_project_path %>
<table style="max-width:200%;width:150%;">
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Description</th>
		<th>Expected Start Time</th>
		<th>Expected End Time</th>
		<th>Expected Duration</th>
		<th>Current Start Time</th>
		<th>Current End Time</th>
		<th>Current Duration</th>
		<th>Duration Units</th>
		<th>Initial Expected Cost</th>
		<th>Current Expected Cost</th>
		<th>Expected Skill Level</th>
		<th>Category</th>
		<th>% Of Completion</th>
		<th>Status</th>
	</tr>	
	<%@projects.each do |project|%>
		<tr>
			<td><%=project.id%></td>
			<td><%=project.name%></td>
			<td><%=project.desc%></td>
			<td><%=project.expected_start_date%></td>
			<td><%=project.expected_end_date%></td>
			<td><%=project.expected_duration%></td>
			<td><%=project.current_start_date%></td>
			<td><%=project.current_end_date%></td>
			<td><%=project.current_duration%></td>
			<td><%=project.duration_unit%></td>
			<td><%=project.initial_expected_cost%></td>
			<td><%=project.current_expected_cost%></td>
			<td><%=project.expected_skill_level%></td>
			<td><%=project.category%></td>
			<td><%=project.percentage_of_completion%></td>
			<td><%=project.status%></td>
		</tr>
	<%end%>
</table>