.mainContent-sub{

  margin: 10px 40px 0 10px;
}
.title-unit{

  margin-bottom: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  .title-header{
    padding-bottom: 17px;
    margin: 0 0 18px 0;
    border-bottom: 1px solid #EEE;
  }

  h1{
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: -1px;
    font-size: 2em;
    font-weight: bold;
  }
  p{
    font-weight: 200;
    line-height: 18px;
  }

}
.content-header {
    h2{
      border-bottom: 1px solid #EEE;
      margin: 0 0 18px;
      padding-bottom: 17px;
      padding: 0;
      font-size: 1.5em
    }
  }
.new_field_with_errors {
  display: inline;
}

.new_field_with_errors .message {
  display:inline;
  background-color: #F2DEDE;
  border: solid 1px #EED3D7;
  color: #B94A48;
  border-radius: 4px 4px 4px 4px;
  padding: 3px 5px;
  margin-left: 7px;
  font-size:12px;
}
.xform-field {
  margin: 8px 0 5px;
  color: #666;
}
