<div class="navbar navbar-fixed-top">
  <nav class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <a class="brand" href="#">Social Share</a>
        <li class="<%= active_class("home") %>"><a href="#">Home</a></li>


       </ul>
       <ul class="nav pull-right">
        <% if current_user %>
          <li class="dropdown <%= active_class %>">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
            </ul>
          </li>
        <% else %>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
              <li><%= link_to "Sign in with Google Plus", user_omniauth_authorize_path(:google_oauth2) %></li>
              <li><%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %></li>
              <li><%= link_to "Sign up", new_user_registration_path%></li>
              <li><%= link_to "Log in", user_session_path%></li>
            </ul>
          </li>
        <% end %>
      </ul>
     </div>
  </nav>
</div>
