<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= content_for?(:title) ? yield(:title) : "Social Collobration" %></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrap">
      <header>
        <div class="navbar navbar-fixed-top">
          <nav class="navbar-inner">
            <div class="container">
              <%= render 'navigation' %>
            </div>
          </nav>
        </div>

      </header>
      <div id="main" role="main">
        <div class="container">
          <div class="content">
            <div class="row-fluid">
              <div class="<%= sidebar_css_class%>">
                <%= yield :sidebar%>
              </div>
              <div class="<%= main_content_css_class %>">
                <%= render 'message' %>
                <%= yield %>
              </div>
            </div><!--! end of .row-fluid-->
          </div><!--! end of .content -->
        </div> <!--! end of .container -->
      </div> <!--! end of #main -->
      <div id="push"></div>
    </div>  <!--! end of #wrap -->
    <div id="footer">
      <div class="container">
        <%= yield :javascript %>
        <p class="span2">&nbsp;</p>
        <p class="copyright">&copy; 2012 <a href="http://parmitech.com">Param Infotech</a> All Rights Reserved</p>
      </div>
    </div>
  </body>
</html>